body,html {
  height: auto;
}
.c-card__header {
  padding: .75rem;
  background:  #ced9e1;
  height: 85px;
  margin-bottom: 75px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header {
  height: 300px;
  background: rgba(94, 192, 208, 0.75);
  margin-bottom: -150px;
}
.c-card {
  border-radius: 5px;
}
.u-content--center {
  max-width: 720px;
}
.c-tabs .active {
  background: rgba(94, 192, 208, 0.75) !important;
  color: inherit;
}
.c-tabs__list {
  border-radius: 50px;
}
.c-tabs__list:hover {
  background: rgba(94, 192, 208, 0.75) !important;
}
